body{
    background-color: #eceff0;
}

body,input{
    font:1em "Open Sans", sans-serif;
    color:#363639
}

a{
    text-decoration: none;
    border-bottom: 1px dashed #363639;
}


/* List */

.list{
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px auto;
    width: 45%;
    border-radius: 2px;
    box-shadow:3px 3px 0 rgba(0, 0, 0, .1);
    max-width: 250%;
}

.list .header{
    font-family: "Shadows Into Light Two" cursive;
    margin: 0 0 10px 0;
}

/* ITEMS */

.items{
    padding: 0;
    margin: 1;
    list-style-type:none ;
}

.items li:hover .done-button{
    opacity: 1;
}

.items li, .item-add .input{
    border: 0;
    border-bottom: 1px dashed #ccc;
    padding: 15px 0;
}

.input{
    width: 100%;
}

.items .item.done{
    text-decoration: line-through;
}

.input:focus{
    outline: none;
}

/* Done button*/

.items .done-button{
    display: inline-block;
    font-size: 0.8em;
    background-color: #e1f2f8;
    color: #363639;
    padding: 3px 6px;
    border: 0;
    opacity: 0.4;
}

/* Submit button*/

.submit{
    background-color: #fff;
    padding: 5xp 10px;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 10px;
    box-shadow: 3px 3px 0 #ddd;
}